tr {
    color: rgb(255, 255, 255);
  }
  h3{
    color: rgb(255, 255, 255)
  }
 body{

margin: 0px;
  background-image: url("http://images.complex.com/complex/images/fl_lossy,q_auto/v1/rx5x1kwfmxrkufcnaoyr/new-ball-spalding-2006-syntethic-nba");

 }
 header{
display: flex;
background-color: rgb(255, 255, 255);
font-style: italic;
justify-content: space-between;
align-items: center;
}

.logo{

  display: flex;
}

.logo-img{

  height: 50px;
  width: 75px;
}
a.nav-link{

  font-style: italic;
  text-decoration: none;
  color: black;
  align-items: center;
  
}
a.nav-link:hover{

color:teal
}

@media (max-width=700px){
  header{
    flex-direction:column;
  }
}

footer{

  background-color: white;
}
